<!DOCTYPE html>
<html lang="en" ng-app="smartkycApp">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'styles/createaccount.css' %}">
</head>
<body>
<hr color="#04AA6D" >
<h1 id="regis"> Create Account</h1>
<hr color="#04AA6D" >
<h2> Personal Information </h2>
{% for message in messages %}
  <h2>{{message}}</h2><br>
{% endfor %}
<div class="container">
<form action="acccreate" method="POST">
{% csrf_token %}
<div class="row">
<div class="col-25"><label for="fname"> First Name: </label> </div>
<div class="col-75"> <input type="text" id="fname" name="fname" value={{a.firstname}}>  <br> </div>
</div>

<div class="row">
<div class="col-25"><label for="lname"> Last Name: </label> </div>
<div class="col-75"><input type="text" id="lname" name="lname" value={{a.lastname}}> <br> </div>
</div>

<div class="row">

<div class="col-25"><label for="gender"> Gender: </label> </div>
<div class="col-75">
<input type="radio" value="Male" name="gender" required> <label>Male</label>
<input type="radio" name="gender" value="female"> <label>Female</label>
<input type="radio" name="gender" value="other"> <label>Other</label>
</div>

</div>

<div class="row">
<div class="col-25"><label for="aline1"> Address Line 1: </label> </div>
<div class="col-75"><input type="text" id="aline1" name="aline1" value={{a.add_line1}} required> <br> </div>
</div>

<div class="row">
<div class="col-25"><label for="aline2"> Address Line 2: </label> </div>
<div class="col-75"><input type="text" id="aline2" name="aline2" value={{a.add_line2}}> <br> </div>
</div>

 <div class="row">
      <div class="col-25">
        <label for="country">Country</label>
      </div>
      <div class="col-75">
        <select id="country" name="country">
          <option value="india">India</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>
      </div>

 <div class="row">
      <div class="col-25">
        <label for="state">State/Province/Region:</label>
      </div>
      <div class="col-75">
        <select id="state" name="state">
          <option value="andrapradesh">Andhra Pradesh</option>
          <option value="karnataka">Karnataka</option>
          <option value="kerala">Kerala</option>
          <option value="telangana">Telengana</option>
          <option value="tamilnadu">Tamil Nadu</option>
        </select>
      </div>

<div class="row">
<div class="col-25"><label for="city"> City: </label> </div>
<div class="col-75"><input type="text" id="city" name="city" value={{a.city}}> <br> </div>
</div>

<div class="row">
<div class="col-25"><label for="zipcode"> Zip/Postal Code: </label> </div>
<div class="col-75"><input type="zip" id="zipcode" name="zipcode" value={{a.zipcode}}> <br> </div>
</div>

<div class="row">
<div class="col-25"><label for="mobile">Mobile (With Country Code): </label> </div>
<div class="col-75"><input type="tel" id="mobile" name="mobile" value={{a.mobile}}> <br> </div>
</div>

<div class="row">
<div class="col-25"><label for="dob">Date Of Birth: </label> </div>
<div class="col-75"><input type="date" id="dob" name="dob" value={{a.dob}}> <br> </div>
</div>

<div class="row">
      <div class="col-25">
        <label for="idType">ID Type:</label>
      </div>
      <div class="col-75">
        <select id="idType" name="idType">
          <option value="aadhar">Aadhar Card</option>
          <option value="dl">Driving License</option>
          <option value="pan">Pan Card</option>
           <option value="vote">Voter Id</option>
        </select>
      </div>

<div class="row">
<div class="col-25"><label for="idnum">ID number: </label> </div>
<div class="col-75"><input type="text" id="idnum" name="idnum" value={{a.idnum}} > <br> </div>
</div>

<div class="row">
<div class="col-25"> Account Number: </label> </div>
<div class="col-75"> {{a.abcno}}  <br> </div>
</div>

<div class="row">

<div class="col-25"><label for="typeofAc"> Type of Account: </label> </div>
<div class="col-75">
<input type="radio" value="Fixed" name="typeofAc" required> <label>Fixed </label>
<input type="radio" name="typeofAc" value="saving"/> <label>Saving </label>
<input type="radio" name="typeofAc" value="business"/> <label>Business</label>
<input type="radio" name="typeofAc" value="reccuring"/> <label>Reccuring</label>
</div>

</div>
<div class="row">

<div class="col-25"><label for="duration"> Duration: </label> </div>
<div class="col-75">
<input type="radio" value="1825" name="duration" required> <label>5 years </label>
<input type="radio" name="duration" value="1095"/> <label>3 years </label>
<input type="radio" name="duration" value="730"/> <label>2 years</label>
<input type="radio" name="duration" value="365"/> <label>1 year</label>
<input type="radio" name="duration" value="0"/> <label>If Savings A/c skip</label>
</div>

</div>
<div class="row">
<div class="col-25"><label for="lname"> Initial Deposit: </label> </div>
<div class="col-75"><input type="number" min="1" step="any" id="deposit" name="deposit" placeholder="₹1" required/> <br> </div>
</div>

<div class="row">
      <input type="submit" value="Create">
    </div>
</form>


<hr color="#04AA6D">