<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ABC Bank</title>
  <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>  
</head>
<body>
  {% csrf_token %}

  <div class="wrapper">
    <nav>
      <input type="checkbox" id="show-search">
      <input type="checkbox" id="show-menu">
      <label for="show-menu" class="menu-icon"><i class="fas fa-bars"></i></label>
      <div class="content">
      <div class="logo"><a href="Services">ABC BANK</a></div>
        <ul class="links">
          <li><a href="home">Home</a></li>
          <li><a href="home">About Us</a></li>
          <li>
            <a href="Services" class="desktop-link">Services</a>
            <input type="checkbox" id="show-features">
            <label for="show-features">Services</label>
            <ul>
              <li><a href="kyc">Kyc</a></li>
              <li><a href="accounts">Accounts</a></li>
              <li><a href="#">Blank</a></li>
            </ul>
          </li>

         <li><a href="#">Feedback</a></li>
         {% if user.is_authenticated %}
            <li><font color="white">Hello {{user.first_name}}</li></font>
            <li><a href="logout">Logout</a></li>
         {% else %}
            <li><a href="">Login</a></li>
         {% endif %}
        </ul>
      </div>

      <label for="show-search" class="search-icon1"><i class="fas fa-search"></i></label>
      </nav>
  </div>

  <div class="dummy-text">
    <h2 style="color:red;">Welcome to ABC BANK</h2>
  </div>
</body>
</html>