<html>
    <head>
        <meta charset='utf-8'>
        <meta http equip='X-UA-Compatible' content='IE-edge'>
        <title>Register</title>
        <meta name='viewpoint' content='width=device-width, initial-scale=1'>
    </head>
    <body>
        <form action ="rateofinterest" method="post">
            {% csrf_token %}
            <input type="text" name="typeofacc" placeholder="TypeofA/c"><br>
            <input type="text" name="duration" placeholder="Duration"><br>
            <input type="text" name="RateofI" placeholder="Rate"><br>
            <input type="submit" value="Submit">
            </form>
    </body>
</html>