{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'styles/kyc.css' %}">
    </head>
    <body>
    
        <nav>
        <ul>
          <li>
           <a href="kyc">KYC</a>
            <span></span><span></span><span></span><span></span>
          </li>
          <li>
          
            <a href="accounts">Accounts</a>
            <span></span><span></span><span></span><span></span>
          </li>
          <li>
            <a href="">Loans</a>
            <span></span><span></span><span></span><span></span>
          </li>
        <a>  <li>
            <a href="home">Home</a>
            <span></span><span></span><span></span><span></span>
          </li>
          </a>
        </ul>
      </nav>
    </body>
</html>
</html>