body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather',serif;
    font-size: 200%;
    background: url(https://wallpapercave.com/wp/wp5748130.jpg);
    background-size: cover;
}
.box {  
float: left;  
margin: auto;
margin-top: 20%;
padding-left: 17px;
margin-left: 145px;
font-size: 25px;
}  
input[type=text] {  
padding: 6px;  
margin-top: 8px;  
font-size: 17px;  
border: none;  
}  
.box button {    
padding: 8px;  
margin-top: 10px;  
margin-left: 10px;  
background: #04AA6D;  
font-size: 20px;  
border: none;  
cursor: pointer;  
}  
.box button:hover {  
background: blue;  
}