body
{
 font-family:Tahoma,Geneva,sans-serif;
 color:#fff;
 background:url(https://wallpapercave.com/wp/wp5748130.jpg) ;
 background-size:cover ;
}
.signin
{
   background: rgba(141, 161, 182, 0.7);
    padding: 40px;
    height: 350px;
    margin-left: 180px;
    margin: 0 auto;
    margin-top: 120px;
    width: 240px;
}

form
{
 width: 240px;
 text-align: center; 
   
}
input
{
    width: 240px;
    text-align:center;
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    font-family: 'play',sans-serif;
    font-size: 16px;
    font-weight: 200px;
    padding: 10px 0;
    transition:border 0.5s;
    outline: none;
    color: #fff;

}
input[type=button]
{
    border: none;
    width: 190px;
    background: white;
    color: #000;
    font-size:16px ;
    line-height: 25px;
    padding: 10px 0;
    border-radius: 15px;
    cursor:pointer ;
}
input[type=button]:hover
{
    color: #fff;
    background-color: #000;
}
h2
{
  color: #fff;
}
a
{
    color: rgb(255, 255, 255);
    text-decoration: blink;
}
a:hover
{
    color: skyblue;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100%;
}
::placeholder{
    color: aliceblue;
    opacity: 0.8;
} 
#error{
    color:red;
    font-style: italic;
}
#success{
    color:green;
    font-style:italic;
}